extends layouts/main.pug

block content
    .form-container
        form(action=routes.upload, method="post")
            input(type="text", placeholder="Title", name="name")
            input(type="textarea", placeholder="Description", name="desc")
            input(type="submit", value="Upload Video")
    a.form-container__link(href=routes.deleteVideo) Delete Video